<div class="level">
  <div class="level-item">
    <%= form_for @present do |f| %>
      <%= hidden_field_tag :controller_name, "presents"%>
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: "textarea is-primary", class: "input validate_this_field" %>
      <p id="name_help_text" style="display: none"></p>
      <%= f.label :link, class: "label" %>
      <%= f.text_field :link, id: "presents", class: "input validate_this_field" %>
      <p id="link_help_text" style="display: none"></p>
      <% if @giftee %>
        <%= f.hidden_field :giftee_id, value: @giftee.id %>
      <% end %>
      <div class="has-text-centered">
        <br><%= f.submit class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
