<div class="section has-text-centered">
  <div class="title">
    <%= "#{@giftee.name}'s Wishlist:" %>
  </div>
  <section class="section">
    <% if @giftee.presents.any? %>
      <%= render partial: "shared/presents_list", locals: { presents: @giftee.presents} %>
    <% else %>
      <% if @giftee.user_is_present %>
        <%= @giftee.name %> has not registered any presents yet!
      <% else %>
        <%= @giftee.name %> is managed by <%= @giftee.user.name %>.
        They have not registered any presents yet!
      <% end %>
    <% end %>
  </section>
</div>
<% if current_user == @giftee.user %>
  <section class="section">
    <div class="subtitle has-text-centered">
      Add new present to <%= "#{@giftee.name}'s wishlist:" %>
    </div>
    <%= render "presents/form" %>
  </section>
<% end %>
<%= link_to "Back to the Occasion", occasion_path(@giftee.occasion), class: "button is-fullwidth is-primary has-text-white" %>