<div class="section">
  <div class="title">
    <%= "#{@giftee.name}'s Wishlist:" %>
  </div>
  <section class="section">
    <% if @giftee.presents.any? %>
      <%= render partial: "shared/presents_list", locals: { presents: @giftee.presents} %>
    <% else %>
      Ola has not registered any presents yet!
    <% end %>
  </section>
</div>
<% if current_user == @giftee.user %>
  <section class="section">
    <div class="subtitle">
      Add new present to <%= "#{@giftee.name}'s wishlist:" %>
    </div>
    <%= render "presents/form" %>
  </section>
<% end %>
<%= link_to "Back to the Occasion", occasion_path(@giftee.occasion), class: "button is-fullwidth is-primary has-text-white" %>