<section class="section has-text-centered">
  <h2 class="title">Resend unlock instructions</h2>
</section>
<div class="level">
  <div class="level-item">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field has-text-centered">
        <%= f.label :email, class: "label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-primary" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions", class: "button is-primary"  %>
      </div>
    <% end %>
  </div>
</div>
<div class="level">
  <div class="level-item">
    <%= render "devise/shared/links" %>
  </div>
</div>
