<section class="section has-text-centered">
  <h2 class="title">Change your password</h2>
</section>
<div class="level">
  <div class="level-item">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field has-text-centered">
        <%= f.label :password, "New password", class: "label" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input is-primary" %>
      </div>

      <div class="field has-text-centered">
        <%= f.label :password_confirmation, "Confirm new password", class: "label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-primary" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="level">
  <div class="level-item">
    <%= render "devise/shared/links" %>
  </div>
</div>
