<div class="title">
  <%= @occasion.name %>
</div>
<div class="subtitle">
  <%= format(@occasion.date) %>
</div>
<% if allow_drawing?(@occasion) %>
  <div class="section has-text-centered">
    <%=button_to "Let's do the drawing!", drawing_path(@occasion), class: "button is-large is-danger is-outlined", method: :get %>
  </div>
<% end %>
  <div class="subtitle">
    Who will be taking part?
  </div>
<div class="box">
  <section class="section">
    <div class="title">GIFTERS</div>
      <% @occasion.gifters.each_slice(4) do |gifters| %>
        <div class="tile is-ancestor">
          <% gifters.each do |gifter| %>
            <div class="tile is-parent is-3">
              <div class="tile is-child box has-background-danger">
                <div class="title has-text-white">
                  <%= gifter.name %>
                </div>
                <div class="is-size-7">has giftee?
                  <% if has_giftee?(gifter) %>
                    <span class="icon">
                      <i class="fas fa-check-square"></i>
                    </span>
                  <% else %>
                     <span class="icon">
                        <i class="fas fa-ban"></i>
                      </span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if already_registered_as_gifter?(@occasion) %>
        You already registered as a participant.
      <% else %>
        <%= link_to "Register as a participant", new_occasion_gifter_path(@occasion, @gifter), class: "button is-danger is-outlined" %>
      <% end %>
  </section>
</div>
<div class="box has-background-white-ter">
  <section class="section">
    <div class="title">GIFTEES</div>
        <% @occasion.giftees.each_slice(4) do |giftees| %>
          <div class="tile is-ancestor">
            <% giftees.each do |giftee| %>
              <div class="tile is-parent is-3">
                <div class="tile is-child box has-background-danger">
                  <div class="title has-text-white">
                    <%= giftee.name %>
                  </div>
                  <div class="is-size-7">has gifter?
                    <% if has_gifter?(giftee) %>
                      <span class="icon">
                        <i class="fas fa-check-square"></i>
                      </span>
                    <% else %>
                      <span class="icon">
                        <i class="fas fa-ban"></i>
                      </span>
                    <% end %>
                  </div>
                  <div>
                    <%= link_to "Show wishlist", occasion_giftee_path(@occasion, giftee), class: "has-text-white" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <%= link_to "Add another giftee", new_occasion_giftee_path(@occasion, @giftee), class: "button is-danger is-outlined" %>
   </section>
</div>
<%= link_to "Edit Occasion",  edit_occasion_path(@occasion), class: "button is-medium is-fullwidth is-primary " %>
<br>
<%= link_to "All Occasions", occasions_path, class: "button is-medium is-fullwidth is-primary" %>