<%= @occasion.name %>
<%= format(@occasion.date) %>
<div>
  Who will be taking part?
  <div>
    GIFTERS:
    <% @occasion.gifters.each do |gifter| %>
      <p>
        <%= link_to gifter.name, occasion_gifter_path(@occasion, gifter) %>
      </p>
    <% end %>
    <%= link_to "Register as a participant", new_occasion_gifter_path(@occasion, @gifter) %>
  </div>
  <div>
    GIFTEES:
    <% @occasion.giftees.each do |giftee| %>
      <p>
        <%= link_to giftee.name, occasion_giftee_path(@occasion, giftee) %>
      </p>
    <% end %>
    <%= link_to "Add another giftee", new_occasion_giftee_path(@occasion, @giftee) %>
  </div>
</div>
<%= link_to "Edit",  edit_occasion_path(@occasion) %>
<%= link_to "All Occasions", occasions_path %>