<!DOCTYPE html>
<html>
  <head>
    <title>
      presentsApp
    </title>
    <link rel="icon" type="image/png" href="/assets/logo-a1389299592d500b217f7a0e1b0f7f14c1ac2cb604478fee89dbce43d7db4700.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-calendar@6.0.7/dist/css/bulma-calendar.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-success"><button class="delete" id="close-notice-flash"></button><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-warning"><button class="delete" id="close-alert-flash"></button><%= alert %></div>
    <% end %>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
              <%= image_tag("logo.png", alt: "logo", class: "image is-96x96") %>
              <br>Presents App
          </h1>
          <h2 class="subtitle">
            Or whatever occasion you don't know how to deal with presents on
          </h2>
        </div>
      </div>
    </section>
    <div class="navbar is-primary" role="navigation" aria-label="main navigation">
      <% if user_signed_in? %>
        <div class="navbar-start">
          <div class ="navbar-item">Hello, <%= current_user.name %></div>
          <div class ="navbar-item"><%= link_to 'Home', root_path, class: "has-text-white" %></div>
          <div class ="navbar-item"><%= link_to 'Occasions', occasions_path, class: "has-text-white" %></div>
          <div class ="navbar-item"><%= link_to 'Your Wishlist', user_presents_index_path(current_user), class: "has-text-white" %></div>
          <div class ="navbar-item"><%= link_to 'Your giftees', giftees_path, class: "has-text-white" %></div>
        </div>
        <div class="navbar-end">
          <div class ="navbar-item"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "has-text-white" %></div>
          <div class ="navbar-item"><%= link_to 'Your Profile', edit_user_registration_path, class: "has-text-white" %></div>
        </div>
      <% else %>
        <div class="navbar-start">
          <div class ="navbar-item"> <%= link_to 'Log in', new_user_session_path, class: "has-text-white"%></div>
          <div class ="navbar-item"><%= link_to 'Sign up', new_user_registration_path, class: "has-text-white" %></div>
        </div>
      <% end %>
    </div>
    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
