<!DOCTYPE html>
<html>
  <head>
    <title>XmasApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-success"><button class="delete" id="close-notice-flash"></button><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-warning"><button class="delete" id="close-alert-flash"></button><%= alert %></div>
    <% end %>
    <div class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= image_tag("logo.png", alt: "logo", class: "image is-64x64") %>
        <br>Christmas App
      </div>
      <% if user_signed_in? %>
        <div class="navbar-start">
          <div class ="navbar-item">Hello, <%= current_user.name %></div>
          <div class ="navbar-item"><%= link_to 'Home', root_path %></div>
          <div class ="navbar-item"><%= link_to 'Occasions', occasions_path %></div>
          <div class ="navbar-item"><%= link_to 'Your Wishlist', user_presents_index_path(current_user) %></div>
          <div class ="navbar-item"><%= link_to 'Your giftees', giftees_path %></div>
        </div>
        <div class="navbar-end">
          <div class ="navbar-item"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></div>
          <div class ="navbar-item"><%= link_to 'Your Profile', edit_user_registration_path %></div>
        </div>
      <% else %>
        <div class="navbar-start">
          <div class ="navbar-item"> <%= link_to 'Log in', new_user_session_path%></div>
          <div class ="navbar-item"><%= link_to 'Sign up', new_user_registration_path %></div>
        </div>
      <% end %>
    </div>
    <section class="section">
      <div class="content">
      <%= yield %>
      </div>
    </section>
  </body>
</html>
